body {
    font-family: Verdana;
    -font-size: 96%;
    -margin: 0;
  padding-top: 50px;
}
#banner {
    background: black; /* #0063AD;*/
    color: #CCC;
    font-size: 2em;
    -height: 72px;
    -margin-bottom: 1em;
}
a img {
    border: none;
}
#title {
    padding: 0.5em;
    margin-left: 250px;
    font-weight: bold;
    -color: #CCC;
}
/*#content {
    margin: 10px;
}*/

.qtip-default {
    border: 0px solid rgb(247,150,70);
    -background-color: rgb(254,231,6);
    background-color: rgb(252,206,169);
    color: black;
}
.qtip-default .qtip-titlebar {
    -background-color: rgb(204,97,9);
    background-color: rgb(247,150,70);
    color: black;
}

.hidden {
    display: none;
}


.impacting, path.impacting, .impact, path.impact{
    fill: white;
}

.dependency, path.dependency, .depend, path.depend{
    fill: #DDD;
}

.mhstp, path.mhstp, .transform, path.transform {
    fill: #C5E6FF;
}

rect.prestudy {
    stroke-dasharray: 6,2;
}

rect.project {
    rx: 5;
    ry: 5;
}

rect.activity {
    rx: 22.5;
    ry: 22.5;
}

.notstarted, .pending {
    stroke: #808000;
}
.started {
    stroke: #0000FF;
}
.rollout {
    stroke: #008080;
}
.closed {
    stroke: #008000;
}


line.soft {
    stroke: grey;
    stroke-width: 8;
    opacity: 0.5;
}
line.soft.hover {
    stroke: rgb(254,231,6);
    opacity: 1;
}

line.hard {
    stroke: black;
    stroke-width: 3;
    -opacity: 0.5;
}
line.hard.hover {
    stroke: rgb(254,231,6);
    -opacity: 1;
}

g.prog rect {
    -stroke: #BBB;
    -stroke-width: 2;
    -stroke-linejoin: round;
    fill: rgb(217,217,217);
}
g.prog text {
    font-weight: bold;
    font-size: 13px;
    --text-anchor: middle;
    pointer-events: none;
}

g.init rect {
    stroke-width: 3;
    stroke-linejoin: round;
    cursor: pointer;
}
g.init rect.hover {
    fill: rgb(254,231,6);
}
g.init text {
    -font-family: sans-serif;
    font-size: 11px;
    text-anchor: middle;
    pointer-events: none;
}
g.rag circle {
    stroke: #666;
    stroke-width: 1.5;
}
g.rag circle.red {
    fill: #F88;
}
g.rag circle.amber {
    fill: #EE0;
}
g.rag circle.green {
    fill: #6F6;
}
g.rag circle.grey {
    fill: #CCC;
}
g.rag text {
    font-size: 60%;
    text-anchor: middle;
}


.navbar-brand {
    padding: 5px 15px;
}