<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if title %}
    <title>{{ title }} - MHS-TP</title>
    {% else %}
    <title>MHS-TP</title>
    {% endif %}
    <style>
    </style>
    <link rel="stylesheet" type="text/css" href="/static/lib/css/jquery.qtip.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/jquery-ui-themes/Aristo/Aristo.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/backgrid.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/static/fonts/dejavuesans.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <!--span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span-->
                </button>
                <a class="navbar-brand" href="/">
                    <img alt="Brand" src="/static/img/not-logo-cut-xs.png">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Knowledge Model <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/page/model">Introduction</a></li>
                            <li><a href="/byprog">Initiatives by Programme</a></li>
                            <li><a href="/bytime">Initiatives Timeline</a></li>
                            <li><a href="/funcs">Functional Areas Status</a></li>
                            <li><a href="/caps">Capabilities List</a></li>
                        </ul>
                    </li>
                    <li><a href="/page/prog-plan">Programme Plan</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated() %}
                      <li><p class="navbar-text">Hello {{ current_user.name }}</p></li>
                      <li><a href="/edit/initiative">Editor</a></li>
                      <li><a href="/logout">Logout</a></li>
                    {% else %}
                      <li><a href="/login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
      {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" src="/static/lib/js/jquery-2.1.3.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/css/jquery-ui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/js/jquery.qtip.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/js/underscore-1.8.3.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/js/underscore.string.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/js/backbone-1.1.2.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/js/backbone-documentmodel.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/js/backbone.babysitter.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/js/backbone.wreqr.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/js/json2.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/js/backbone.marionette-2.4.1.js" charset="utf-8"></script>
    <!--script type="text/javascript" src="/static/lib/js/backform.js" charset="utf-8"></script-->
    <script type="text/javascript" src="/static/lib/js/backgrid.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/js/bootstrap.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/js/d3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/js/d3plus.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/js/marked.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/main.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/mhstp.js" charset="utf-8"></script>
    {% block foot %}{% endblock %}
  </body>
</html>