<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta charset="utf-8">
    {% if title %}
    <title>{{ title }} - MHS-TP</title>
    {% else %}
    <title>Welcome to MHS-TP</title>
    {% endif %}
    <script src="http://d3js.org/d3.v3.js" charset="utf-8"></script>
    <style>
    body {
        font-family: Verdana;
        margin: 0;
    }
    #banner {
        background: #0063AD;
        color: white;
        font-size: 2em;
        -padding: 10px;
        height: 80px;
        margin-bottom: 1em;
    }
    #title {
        padding: 1em;
        margin-left: 200px;
    }
    #content {
        margin: 10px;
    }
    </style>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="banner">
        <a href="/"><img src="/static/program-logo.png" style="float: left;" /></a>
        <div id="title">{{ title }}</div>
    </div>
    <!--div>MHS-TP: <a href="/index">Home</a> <a href="/d3">D3</a></div>
    <hr-->
    <div id="content">
    {% block content %}{% endblock %}
    </div>
  </body>
</html>