{% extends "base.html" %}
{% block head %}
<style>
    line.soft {
        stroke: grey;
        stroke-width: 8;
        opacity: 0.5;
    }
    line.soft:hover {
        stroke: orange;
        opacity: 1;
    }

    line.hard {
        stroke: black;
        stroke-width: 3;
        -opacity: 0.5;
    }
    line.hard:hover {
        stroke: orange;
        -opacity: 1;
    }

    g.prog rect {
        stroke: #BBB;
        stroke-width: 2;
        stroke-linejoin: round;
    }
    g.prog text {
        font-family: sans-serif;
        font-weight: bold;
        font-size: 13px;
        color: gray;
        --text-anchor: middle;
        pointer-events: none;
    }

    g.init rect {
        stroke-width: 3;
        stroke-linejoin: round;
        cursor: pointer;
    }
    g.init rect:hover {
        fill: orange;
    }
    g.init text {
        -font-family: sans-serif;
        font-size: 11px;
        text-anchor: middle;
        pointer-events: none;
    }
    g.rag circle {
        stroke: #666;
        stroke-width: 1.5;
    }
    g.rag circle.red {
        fill: #F88;
    }
    g.rag circle.amber {
        fill: #EE0;
    }
    g.rag circle.green {
        fill: #6F6;
    }
    g.rag circle.grey {
        fill: #CCC;
    }
    g.rag text {
        font-size: 60%;
    }
    p {
        font-family: sans-serif;
        -font-size: 1px;
    }
</style>
{% endblock %}
{% block content %}
<div class="main">
  <h1 class="page-header">Initiatives by Programme</h1>
    <p>Initiatives displayed by the Programme they belong to.</p>
    <div id="tooltip" class="hidden">
        <table>
            <tr><th>Status:</th> <td id="tt_stat"></td></tr>
            <tr><th>Type:</th> <td id="tt_type"></td></tr>
            <tr><th>Category:</th> <td id="tt_cat"></td></tr>
            <tr><th>Programme:</th> <td id="tt_prog"></td></tr>
            <tr><th>Function:</th> <td id="tt_func"></td></tr>
            <tr><th>Start:</th> <td id="tt_start"></td></tr>
            <tr><th>End:</th> <td id="tt_end"></td></tr>
        </table>
    </div>
    <div id="diagram"></div>
    <p>Legend:</p>
    <img src="/static/img/byprog.legend.svg">
</div>
{% endblock %}
{% block foot %}
    <script type="text/javascript">
        init_grid.cols = 6;
        init_grid.rows = 12;
        init_grid.colw = 170;
        init_grid.rowh = 65;

        var w = init_grid.cols * init_grid.colw,
            h = init_grid.rows * init_grid.rowh + init_grid.rowh/2,
            init_indx = {};

        var prog_data = [
                {col: 0, row: 0, cols: 2, rows: 3,  color: "#f7ffd4", name: "Multi-Channel"},
                {col: 0, row: 4, cols: 2, rows: 8,  color: "#fff6d4", name: "Planned Business"},
                {col: 2, row: 0, cols: 3, rows: 12, color: "#ffffd4", name: "MHS Transformation"},
                {col: 5, row: 0, cols: 1, rows: 6,  color: "#fff6d4", name: "Planned Business"},
            ];

        var svg = d3.select("#diagram")
                    .append("svg")
                    .attr("width", w)
                    .attr("height", h);

        svg.append("defs")
            .append("marker")
            .attr({
                id: "arrow",
                viewBox: "-20 -10 20 20",
                markerWidth: 12,
                markerHeight: 12,
                refx: 0,
                refy: 0,
                orient: "auto",
                markerUnits: "userSpaceOnUse"
            })
            .append("path")
            .attr({
                //d: "M2,2 L2,13 L8,7 L2,2",
                //d: "M0,0 L-13,7 L-13,-7 L0,0",
                d: "M-20,-8L0,0L-20,8",
                fill: "black",
            });

        var progs = svg.selectAll("g.prog")
                        .data(prog_data)
                        .enter()
                        .append("g")
                        .classed("prog", true);

        progs.append("rect")
            .attr({
                x: function(d) { return d.col * init_grid.colw + 10; },
                y: function(d) { return d.row * init_grid.rowh + 0; },
                width: function(d) { return d.cols * init_grid.colw - 20; },
                height: function(d) { return d.rows * init_grid.rowh - 0 + init_grid.rowh/2; },
                fill: function(d) { return d.color; },
                rx: 10,
                ry: 10,
            });

        progs.append("text")
            .text(function(d) { return d.name; })
            .attr({
                x: function(d) { return d.col * init_grid.colw + 20; },
                y: function(d) { return d.row * init_grid.rowh + 10 + 12; },
            });

        function soft_line(d) {
            var d1 = init_indx[d.from_init_id],
                d2 = init_indx[d.to_init_id];
            //console.log(d)
            if (d1 && d2) {
                d3.select(this)
                    .attr({
                        x1: d1.byprog_col * init_grid.colw + init_grid.colw/2,
                        y1: d1.byprog_row * init_grid.rowh + init_grid.rowh,
                        x2: d2.byprog_col * init_grid.colw + init_grid.colw/2,
                        y2: d2.byprog_row * init_grid.rowh + init_grid.rowh,
                    });
            }
        }
        function hard_line(d) {
            var d1 = init_indx[d.from_init_id],
                d2 = init_indx[d.to_init_id];

            if (d1 && d2) {
                var r1 = mk_init_rect(d1),
                    xk = r1.cx, yk = r1.cy,
                    r2 = mk_init_rect(d2),
                    xl = r2.cx, yl = r2.cy,
                    xm = r2.l, ym = r2.t,
                    xn = r2.r, yn = r2.t,
                    xp = r2.r, yp = r2.b,
                    xq = r2.l, yq = r2.b,
                    p = intersect_lineseg_rect(xk,yk, xl,yl, xm,ym, xn,yn, xp,yp, xq,yq);
                //console.log(d)
                if (!p) {
                    p = {x: xl, y: yl};
                }
                d3.select(this)
                    .attr({
                        x1: xk, // d1.col * colw + colw/2,
                        y1: yk, // d1.row * rowh + rowh,
                        x2: p.x, // d2.col * colw + colw/2,
                        y2: p.y, // d2.row * rowh + rowh,
                        "marker-end": "url(#arrow)",
                    });
            }
        }

        d3.json("/data/byprog", function(data) {

            data.inits.forEach(function(ini) {
                init_indx[ini._id] = ini;
            });

            svg.selectAll("line.soft")
                .data(data.softs)
                .enter()
                .append("line")
                .classed("soft", true)
                .each(soft_line);

            svg.selectAll("line.hard")
                .data(data.hards)
                .enter()
                .append("line")
                .classed("hard", true)
                .each(hard_line);

            var gs = svg.selectAll("g.init")
                     .data(data.inits)
                     .enter()
                     .append("g")
                     .classed("init", true);

            gs.each(init_rect);
            gs.each(init_text);
            //gs.each(init_rag);

            $('.init').qtip({
                content: {
                    title: function() {
                        var d = this.context.__data__;
                        return d.name;
                    },
                    text: function() {
                        var d = this.context.__data__,
                            tt = d3.select("#tooltip");
                        //tt.select("#tt_name").text(d.name);
                        tt.select("#tt_stat").text(d.state);
                        tt.select("#tt_type").text(d.type);
                        tt.select("#tt_cat").text(d.category);
                        tt.select("#tt_prog").text(d.program.name);
                        tt.select("#tt_func").text(d['function']);
                        tt.select("#tt_start").text(d.start);
                        tt.select("#tt_end").text(d.end);
                        return tt.html();
                    },
                },
                style: {
                    classes: 'qtip-cluetip qtip-shadow'
                },
                position: {
                    my: 'left center',
                    at: 'center right',
                    viewport: $(window),
                    adjust: {
                        method: 'shift shift'
                    },
                },
            });
        });

    </script>
{% endblock %}