{% extends "base.html" %}
{% block head %}
<style>
    line.year, line.month, line.group, line.cluster {
        stroke: gray;
    }
    line.month {
        stroke-dasharray: 3,3;
    }
    text.group, text.cluster {
        font-size: 12px;
        text-anchor: middle;
        pointer-events: none;
    }
    line.dep {
        stroke: black;
        stroke-width: 2;
        opacity: 0.5;
    }
    line.backward {
        stroke: red;
    }
    text.year {
        font-size: 14px;
        text-anchor: left;
        pointer-events: none;
    }
    text.month, text.rag, text.rag-head {
        font-size: 12px;
        text-anchor: middle;
        pointer-events: none;
    }
    text.info-icon {
    	font-family: FontAwesome;
        font-size: 14px;
        text-anchor: middle;
        fill: blue;
    }
    rect.bar, path.bar {
        stroke: black;
        -pointer-events: none;
    }
    path.bar {
    	cursor: pointer;
    }
    text.bar {
        font-size: 12.5px;
        text-anchor: left;
        pointer-events: none;
    }
    rect.row {
        fill: white;
    }
    rect.odd {
        fill: #EEE;
    }
    rect.row:hover {
        fill: #FDB;
    }
    rect.hilite {
        fill: #FDB;
    }
    rect.rag-red, rect.rag-amber, rect.rag-green {
    	cursor: pointer;
    }
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
<div class="main">
  <h1 class="page-header">Initiatives Timeline</h1>
    <table>
        <tr>
            <td valign="top">
                <h3>Initiatives displayed on Gannt-like timeline</h3>
                <div id="view-choice"></div>
                <div id="group-choice"></div>
                <div id="deps-toggle"></div>
                <br/>
                <div id="diagram"></div>
                <div id="rag-text"></div>
            </td>
            <td valign="top">
                <h3>Filters</h3>

                <h4>Status</h4>
                <div id="state-filter"></div>
                <button type="button" class="btn btn-default btn-xs"
                        onclick="set_all_filters('state',true)">All</button>
                <button type="button" class="btn btn-default btn-xs"
                        onclick="set_all_filters('state',false)">None</button>

                <h4>Category</h4>
                <div id="category-filter"></div>
                <button type="button" class="btn btn-default btn-xs"
                        onclick="set_all_filters('category',true)">All</button>
                <button type="button" class="btn btn-default btn-xs"
                        onclick="set_all_filters('category',false)">None</button>

                <h4>Programme</h4>
                <div id="prog-filter"></div>
                <button type="button" class="btn btn-default btn-xs"
                        onclick="set_all_filters('program_id',true)">All</button>
                <button type="button" class="btn btn-default btn-xs"
                        onclick="set_all_filters('program_id',false)">None</button>

                <h4>IWOW Process</h4>
                <div id="proc-filter"></div>
                <button type="button" class="btn btn-default btn-xs"
                        onclick="set_all_filters('process_id',true)">All</button>
                <button type="button" class="btn btn-default btn-xs"
                        onclick="set_all_filters('process_id',false)">None</button>

                <h4>Tracker Frequency</h4>
                <div id="tracker-filter"></div>
                <button type="button" class="btn btn-default btn-xs"
                        onclick="set_all_filters('tracker_freq',true)">All</button>
                <button type="button" class="btn btn-default btn-xs"
                        onclick="set_all_filters('tracker_freq',false)">None</button>
            </td>
        </tr>
    </table>
</div>
</div>

<div id="tooltip" class="hidden">
    <table>
        <tr><th>Status:</th>                <td id="tt_state"></td></tr>
        <tr><th>Business Change Area:</th>  <td id="tt_cluster"></td></tr>
        <tr><th>Start:</th>                 <td id="tt_start"></td></tr>
        <tr><th>End:</th>                   <td id="tt_end"></td></tr>
    </table>
</div>

<div id="prog-status-info" title="Programme Status">
    <p>The programme will determine the <em>RAG</em> (Red-Amber-Green)
    status for <em>time</em>, <em>scope</em> and <em>cost</em> for
    MHS TP initiatives. <b>Be aware that there can be differences in
    the programme's perceived RAG-status compared to the initiative's
    own status.</b> Compared to the initiatives, MHS TP is phasing
    out a large legacy system, transferring out all functionality
    from MHS to target applications.
    </p>
    <table>
        <tr>
            <td valign="top" width="30%">
                <h4>Time</h4>
                <p>MHS TP has a greater duration than an initiative
                which means that there can be leeway between the
                project's critical deadline and the critical deadline
                for the programme. There can as well be dependencies
                to critical milestones during the course of a project
                which might be more important to the programme than
                others. Managing a programme involves long term
                strategic planning which might indicate that there
                are time frames more or less flexible for achieving
                the overall target.</p>
            </td>
            <td width="5%"></td>
            <td valign="top" width="30%">
                <h4>Scope</h4>
                <p>The programme's requirements are described in terms
                of outcomes and benefits. The scope is not as strongly
                defined at the programme level and it can change during
                the life cycle of the programme. A project's scope might
                differ in the level of detail since there are different
                interests from programme and business owner. This can
                result in different RAG-statuses between the programme
                and the project.</p>
            </td>
            <td width="5%"></td>
            <td valign="top" width="30%">
                <h4>Cost</h4>
                <p>Projects typically have a straight-forward budget
                related to their own deliverables and their own time
                frame, while the programme budget consists of the sum
                of all programme activities. The RAG status may differ
                since a project budget deviation may not impact the
                aggregated programme budget. The programme will
                balance all deviations in its approved frame, and
                only when the total approved frame is exceeded will
                the programme status be affected.</p>
            </td>
        </tr>
    </table>
</div>

<div id="prog-status" title="Programme RAG Status">
    <h4 id="rag-ini-name">Initiative</h4>
    <table class="table">
        <tr><th>Sponsor:</th>           <td id="sg_supp_id"></td></tr>
        <tr><th>Project Manager:</th>   <td id="biz_pm_id"></td></tr>
        <tr><th>Deviation:</th>         <td id="tp_rag_desc"></td></tr>
        <tr><th>Time Impact:</th>       <td id="tp_rag_t_impact"></td></tr>
        <tr><th>Scope Impact:</th>      <td id="tp_rag_s_impact"></td></tr>
        <tr><th>Cost Impact:</th>       <td id="tp_rag_c_impact"></td></tr>
        <tr><th>Mitigation:</th>        <td id="tp_rag_act"></td></tr>
        <tr><th>Deadline:</th>          <td id="tp_rag_due"></td></tr>
        <tr><th>Responsible:</th>       <td id="tp_rag_resp"></td></tr>
    </table>
</div>

{% endblock %}
{% block foot %}
    <script type="text/javascript" src="/static/js/bytime.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#prog-status-info').dialog({
                autoOpen: false,
                resizable: false,
                width: 800,
                //modal: true,
            });
            $('#prog-status').dialog({
                autoOpen: false,
                resizable: false,
                width: 600,
                //modal: true,
            });
       	});

        mk_choice_inline('group', 'group-choice', [
            {val: 'proc', txt: 'Group by IWOW Process'},
            {val: 'func', txt: 'Group by Functional Area'},
            {val: 'clus', txt: 'Group by Business Change Area'},
        ], 'proc');

        mk_choice_inline('view', 'view-choice', [
            {val: 'year', txt: 'View this Year'},
            {val: 'full', txt: 'View Full Timeline'},
        ], 'year');

        mk_toggle_inline('deps', 'Show Dependencies', false, 'deps-toggle');

        d3.json("/data/bytime", function(bytime_data) {
            set_data(bytime_data);

            mk_filter('INI', 'state', 'state-filter', ['pending','started','rollout','closed']);
            mk_filter('INI', 'category', 'category-filter');
            mk_filter('INI', 'program_id', 'prog-filter');
            mk_filter('INI', 'process_id', 'proc-filter');
            mk_filter('INI', 'tracker_freq', 'tracker-filter');

            mk_index('ini', data.initiative);
            //mk_index('proc', data.process);

            render();
        });
    </script>
{% endblock %}
