{% extends "base.html" %}
{% block head %}
<style>
    line.year, line.func {
        stroke: gray;
    }
    text.year {
        font-size: 11px;
        text-anchor: left;
        pointer-events: none;
    }
    rect.bar {
        stroke: black;
        -pointer-events: none;
    }
    text.bar {
        font-size: 11px;
        text-anchor: left;
        pointer-events: none;
    }
    rect.row {
        fill: white;
    }
    rect.odd {
        fill: #EEE;
    }
    rect.row:hover {
        fill: #FDB;
    }
    rect.hilite {
        fill: #FDB;
    }
</style>
{% endblock %}
{% block content %}
    <p>Initiatives displayed on Gannt-like timeline.</p>
    <div id="tooltip" class="hidden">
        <table>
            <tr><th>Status:</th> <td id="tt_state"></td></tr>
            <tr><th>Start:</th> <td id="tt_start"></td></tr>
            <tr><th>End:</th> <td id="tt_end"></td></tr>
        </table>
    </div>
    <div id="diagram"></div>
{% endblock %}
{% block foot %}
<script type="text/javascript">
    var svg = d3.select("#diagram")
                .append("svg");

    d3.csv("/bytime/init.csv", function(data) {
        var cols = 0,
            rows = data.length,
            i = 0,
            n = data.length,
            inits = [],
            funcs = [], //{name: '', row: 1}],
            f = '-',
            fst_yr = 15,
            lst_yr = 22;

        for (; i < n; i++) {
            var d = data[i]
                s = mk_fyt(d.start, false),
                e = mk_fyt(d.end, true);
            inits.push(d);
            cols = Math.max(cols, fyt_col(e,fst_yr));
            if (d['function'] !== f) {
                f = d['function'];
                funcs.push({name: f, row: i+1})
            }
        }
        funcs.push({name: '', row: i+1})

        var off = 300,
            colw = (900 - off) / cols,
            rowh = 15,
            w = off + cols * colw,
            h = (rows+1) * rowh;

        function row_rect(d, i) {
            d3.select(this)
                .classed("row", true)
                .classed("odd", (i+1)%2)
                .attr({
                    x: 0,
                    y: (i+1) * rowh,
                    width: off + cols * colw,
                    height: rowh,
                    id: 'row' + i,
                });
        }
        function init_bar(d, i) {
            var s = mk_fyt(d.start, false),
                e = mk_fyt(d.end, true),
                c = fyt_col(s,fst_yr),
                w = fyt_col(e,fst_yr) - c;
            d3.select(this)
                .classed("bar", true)
                .classed(mk_class(d.category), true)
                .attr({
                    x: off + c * colw + 1,
                    y: (i+1) * rowh + 2,
                    width: w * colw - 2,
                    height: rowh-4,
                })
                .on("mouseover", function() {
                    d3.select('#row'+i).classed('hilite', true);
                })
                .on("mouseout", function() {
                    d3.select('#row'+i).classed('hilite', false);
                });
        }
        function init_text(d, i) {
            d3.select(this)
                .classed("bar", true)
                .text(d.name)
                .attr({
                    x: 0,
                    y: (i+1) * rowh + 11,
                });
        }
        function year_text(d) {
            d3.select(this)
                .text("FY" + d)
                .classed("year", true)
                .attr({
                    x: off + (d-15) * colw + 1,
                    y: 10,
                });
        }
        function year_line(d) {
            d3.select(this)
                .classed("year", true)
                .attr({
                    x1: off + (d-15) * colw,
                    y1: 0,
                    x2: off + (d-15) * colw,
                    y2: (rows+1) * rowh,
                });
        }
        function func_line(d) {
            d3.select(this)
                .classed("func", true)
                .attr({
                    x1: 0,
                    y1: (d.row + 0) * rowh,
                    x2: off + cols * colw,
                    y2: (d.row + 0) * rowh,
                });
        }

        svg.attr("width", w+1)
           .attr("height", h+1);

        var years = []; // [15,16,17,18,19,20,21,22];
        i = fst_yr;
        while (i <= lst_yr)
            years.push(i++);

        svg.selectAll("rect.row")
           .data(inits)
           .enter()
           .append("rect")
           .each(row_rect);

        svg.selectAll("text.year")
            .data(years)
            .enter()
            .append("text")
            .each(year_text);

        svg.selectAll("line.year")
            .data(years)
            .enter()
            .append("line")
            .each(year_line);

        svg.selectAll("line.func")
            .data(funcs)
            .enter()
            .append("line")
            .each(func_line);

        svg.selectAll("rect.bar")
           .data(inits)
           .enter()
           .append("rect")
           .each(init_bar);

        svg.selectAll("text.bar")
           .data(inits)
           .enter()
           .append("text")
           .each(init_text);

        $('.bar').qtip({
            content: {
                title: function() {
                    var d = this.context.__data__;
                    return d.name;
                },
                text: function() {
                    var d = this.context.__data__,
                        s = mk_fyt(d.start, false),
                        e = mk_fyt(d.end, true),
                        tt = d3.select("#tooltip");
                    tt.select("#tt_state").text(d.state);
                    tt.select("#tt_start").text(s ? s.fiscal_str() : '');
                    tt.select("#tt_end").text(e ? e.fiscal_str() : '');
                    return tt.html();
                },
            },
            style: {
                classes: 'qtip-cluetip qtip-shadow'
            },
            position: {
                my: 'bottom center',
                at: 'top center',
                viewport: $(window),
                adjust: {
                    method: 'shift flip'
                },
            }
        });
    });
</script>
{% endblock %}
