{% extends "base.html" %}
{% block head %}
<style>
#diagram table {
    width: 100%;
    border-spacing: 10px;
    border-collapse: separate;
}
#diagram td {
    text-align: center;
    vertical-align: middle;
    background: #0063AD;
    min-height: 3em;
}
#diagram .name {
    padding: 1em;
    color: white;
}
#diagram .caps, #diagram .no-caps {
    float: right;
    padding: .1em;
    margin: .1em;
    font-size: 85%;
    background: #C5E6FF;
}
#diagram .no-caps {
    background: #FAA;
}
#diagram a {
    text-decoration: none;
}
#diagram a div {
    border: none;
}
</style>
{% endblock %}
{% block content %}
<div class="main">
  <h1 class="page-header">Functional Areas Status</h1>
    <p>The main Functional Areas showing the number of Capabilities that need to
    be transformed (where known).</p>
    <div id="diagram">
        <table>
            <tr>
                <td id="FUN0001" colspan="4"></td>
            </tr>
            <tr>
                <td id="FUN0002" colspan="2"></td>
                <td id="FUN0003" colspan="2"></td>
            </tr>
            <tr>
                <td id="FUN0004" width="25%" rowspan="3"></td>
                <td id="FUN0005" width="25%" rowspan="3"></td>
                <td id="FUN0006" width="25%"></td>
                <td id="FUN0009" width="25%" rowspan="3"></td>
            </tr>
            <tr>
                <td id="FUN0007"></td>
            </tr>
            <tr>
                <td id="FUN0008"></td>
            </tr>
            <tr>
                <td id="FUN0010" colspan="2"></td>
                <td id="FUN0011" colspan="2"></td>
            </tr>
            <tr>
                <td id="FUN0012"></td>
                <td id="FUN0013"></td>
                <td id="FUN0014"></td>
                <td id="FUN0015"></td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
{% block foot %}
<script type="text/javascript">
    d3.json("/data/funs", function (data) {
        _.each(data.funs, function (d) {
            var td = d3.select('#'+d._id),
                a = td.append("a").attr('href', "/caps/" + d._id);
            if (d.ncap) {
                a.append('div').classed('caps', true).text(d.ncap);
            } else {
                a.append('div').classed('no-caps', true).text('?');
            }
            a.append('div').classed('name', true).text(d.abbr ? d.abbr : d.name);
        });
    });
</script>
{% endblock %}
