{% extends "base.html" %}
{% block head %}
<style>
    .ini th, .ini td {
        text-align: left;
        vertical-align: top;
        padding-bottom: 1em;
    }
    .ini th {
        padding: 0.5em;
        -padding-right: 1em;
        text-align: right
    }
    .ini td {
        border-top: 1px solid #DDD;
        padding: 0.5em;
    }
    #diagram {
        text-align: center;
    }
    .this text {
        font-weight: bold;
    }
    .info-icon {
        color: blue;
        cursor: pointer;
    }
    g.rag {
        cursor: pointer;
    }
    .jquid th {
        -font-weight: normal;
        -font-size: 1.2em;
    }
</style>
{% endblock %}
{% block content %}
<div class="main">
  <h1 class="page-header">Initiative: {{title}}</h1>
    <table class="ini">
        <tr>
            <th>Start:</th><td id="start"></td>
            <td style="border-top: 0px solid black;"></td>
            <th style="text-align: left;">Dependencies and Status: <span id="dep-info-icon" class="fa fa-info-circle info-icon"></span></th>
        </tr>
        <tr>
            <th>Finish:</th><td id="end"></td>
            <td rowspan="16" style="border-top: 0px solid black;"></td>
            <td rowspan="16" style="border-top: 0px solid black;"><div id="diagram"></div>
            </td>
        </tr>
        <tr><th>Type:</th><td id="type"></td></tr>
        <tr><th>Category:</th><td id="category"></td></tr>
        <tr><th>State:</th><td id="state"></td></tr>
        <tr><th>Business Process:</th><td id="process"></td></tr>
        <tr><th>Business Project Manager:</th><td id="biz_pm_id"></td></tr>
        <tr><th>IT Project Manager:</th><td id="it_pm_id"></td></tr>
        <tr><th id="caps_out_ttl"></th><td id="caps_out"></td></tr>
        <tr><th id="caps_in_ttl"></th><td id="caps_in"></td></tr>
        <tr><th>MHS TP Representative in SG:</th><td id="sg_tp_rep_id"></td></tr>
        <tr><th>MHS TP SG Sponsor:</th><td id="sg_supp_id"></td></tr>
        <tr><th>SG Chairman:</th><td id="sg_chair_id"></td></tr>
        <tr><th>Process Representative:</th><td id="proc_rep_id"></td></tr>
        <tr><th>Initiative Objective:</th><td id="objective"></td></tr>
        <tr><th>MHS-TP Objective:</th><td id="tp_objective"></td></tr>
        <tr style="height: 100%;"><th></th><td></td></tr>
    </table>
</div>

<div id="tooltip" class="hidden">
    <table>
        <tr><th>Status:</th> <td id="tt_stat"></td></tr>
        <tr><th>Type:</th> <td id="tt_type"></td></tr>
        <tr><th>Category:</th> <td id="tt_cat"></td></tr>
        <tr><th>Programme:</th> <td id="tt_prog"></td></tr>
        <!--tr><th>Function:</th> <td id="tt_func"></td></tr-->
        <tr><th>Start:</th> <td id="tt_start"></td></tr>
        <tr><th>End:</th> <td id="tt_end"></td></tr>
    </table>
</div>

<div id="dep-info" title="Dependencies and Status" class="jquid">
    <p>For an explanation of an initiative's status click on it's (T)(S)(C).</p>
    <p><b>Note that the RAG status show here is the Initiative's own</b>, as reported in the Biweekly status update meetings
       or through the monthly Project Performance Indicators (PPI) and/or the monthly Performance Tracking Tool (PTT).</p>
    <p><b>Legend:</b></p>
    <img src="/static/img/byprog.legend.svg">
</div>

<div id="rag-info" title="Initiative RAG Status" class="jquid">
    <h4 id="rag-ini-name">Initiative</h4>
    <p>Status last updated on <span id="rag-update"></span>.</p>
    <table class="table">
        <tr>
            <th></th>
            <th width="40%">Description &amp; Reason</th>
            <th width="40%">Mitigating Actions</th>
            <th>Responsible</th>
            <th>Deadline</th>
        </tr>
        <tr>
            <th id="rag-t">Time</th>
            <td id="rag-t-desc"></td>
            <td id="rag-t-act"></td>
            <td id="rag-t-resp"></td>
            <td id="rag-t-due" nowrap></td>
        </tr>
        <tr>
            <th id="rag-s">Scope</th>
            <td id="rag-s-desc"></td>
            <td id="rag-s-act"></td>
            <td id="rag-s-resp"></td>
            <td id="rag-s-due" nowrap></td>
        </tr>
        <tr>
            <th id="rag-c">Cost</th>
            <td id="rag-c-desc"></td>
            <td id="rag-c-act"></td>
            <td id="rag-c-resp"></td>
            <td id="rag-c-due" nowrap></td>
        </tr>
    </table>
</div>

{% endblock %}
{% block foot %}
    <script type="text/javascript">
        var _id = '{{ id }}',
            api = '/data/ini/' + _id;
    </script>
    <script type="text/javascript" src="/static/js/ini_page.js"></script>
{% endblock %}
