{% extends "base.html" %}
{% block head %}
<style>
</style>
{% endblock %}
{% block content %}
    <div id="grid" class="backgrid-container" style="height: 100%"></div>
{% endblock %}
{% block foot %}
<script type="text/javascript">
    var Initiative = Backbone.Model.extend({});

    var Initiatives = Backbone.Collection.extend({
      model: Initiative,
      url: "/inits.json",
      parse: function (response) {
        return response.inits;
      }
    });

    var inits = new Initiatives();

    //     fields = ['id','name','state','start','end','type','category','program','function']
    var columns = [{
        name: "id", // The key of the model attribute
        label: "ID", // The name to display in the header
        editable: false, // By default every cell in a column is editable, but *ID* shouldn't be
        // Defines a cell type, and ID is displayed as an integer without the ',' separating 1000s.
        //cell: Backgrid.IntegerCell.extend({
        //  orderSeparator: ''
        //})
        cell: "string" // This is converted to "StringCell" and a corresponding class in the Backgrid package namespace is looked up
      }, {
        name: "name",
        label: "Name",
        // The cell type can be a reference of a Backgrid.Cell subclass, any Backgrid.Cell subclass instances like *id* above, or a string
        cell: "string" // This is converted to "StringCell" and a corresponding class in the Backgrid package namespace is looked up
      },
      {name: "state", label: "Status", cell: "string"},
      {name: "start", label: "Start", cell: "string"},
      {name: "end", label: "End", cell: "string"},
      {name: "type", label: "Type", cell: "string"},
      {name: "category", label: "Category", cell: "string"},
      {name: "program", label: "Programme", cell: "string"},
      {name: "function", label: "Functional Area", cell: "string"},
    ];

    // Initialize a new Grid instance
    var grid = new Backgrid.Grid({
      columns: columns,
      collection: inits
    });

    // Render the grid and attach the root to your HTML document
    $("#grid").append(grid.render().el);

    // Fetch some countries from the url
    inits.fetch({reset: true});
</script>
{% endblock %}
